<html>
<head>
    <meta charset="UTF-8">
    <title>Booking Status Changed</title>
</head>
<body>
    <h1>BookingApp - Booking Status Changed</h1>
    <p>Thank you for your booking request in <strong>{{ hotel }}</strong> from {{ check_in }} to {{ check_out }}</p>
    <p>Booking status is: <strong>{{ status }}</strong><p>
    <p>When the booking will change the status, you will receive separate email</p>
    <p>See your bookings history <a href="http://{{ domain }}{% url 'bookingHistory' %}" target="_blank">here</a></p>
    <p>Thanks</p>
    <p>BookingApp Team</p>
</body>
</html>
