<html>
<head>
    <meta charset="UTF-8">
    <title>User Activation</title>
</head>
<body>
    <h1>BookingApp - Password reset</h1>

    <p>You're receiving this email because you requested a password reset for your user account at {{domain}}/</p>

    <p>
        <a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">
            <button style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
                Change password
            </button>
        </a>
    </p>
    <p>If the button above doesn't work, you can also copy and paste the following URL into your browser:</p>
        http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    <p>Thanks</p>
    <p>BookingApp Team</p>
</body>
</html>
