{% extends 'base.html' %}
{% block title %}Booking update{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div id="main-wrapper" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="card border-0 shadow mb-5">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="p-5">
                            <div class="mb-4">
                                <h3 class="h4 font-weight-bold text-primary">Booking update</h3>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="submit" class="btn btn-primary mt-1">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
