{% extends 'base.html' %}
{% block title %}BookingApp{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container mt-3">
    {% if favourites_data %}
        <h3>Your Favourites:</h3>
    {% endif %}
    {% for data in favourites_data %}
    <div class="card card-shadow mb-3">
        <div class="row g-0">
            <div class="col-md-3">
                <a href="{% url 'hotelDetails' data.hotel_name %}?check_in={{check_in}}&check_out={{check_out}}&num_guests={{num_guests}}">
                    <img class="img-fluid rounded-start" src="{{ data.hotel_photo }}" alt="">
                </a>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <div style="position: absolute; top: 15px; right: 20px;">
                            <form method="POST">
                                {% csrf_token %}
                                {% if data.hotel_favourite %}
                                    <button type="submit" style="border: none; background-color: transparent;" name="fav_hotel_id" value="{{data.hotel.id}}"><i class="bi bi-heart-fill heart-icon-fill" style="font-color: red; font-size: 1.5rem"></i></button>
                                {% else %}
                                <button type="submit" style="border: none; background-color: transparent;" name="fav_hotel_id" value="{{data.hotel.id}}"><i class="bi bi-heart heart-icon" style="font-size: 1.5rem"></i></button>
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}
                    <h5 class="card-title">
                        <a href="{% url 'hotelDetails' data.hotel.name %}?check_in={{check_in}}&check_out={{check_out}}&num_guests={{num_guests}}" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover">
                            {{ data.hotel.name }}
                        </a> {{ data.hotel.draw_stars }}
                    </h5>
                    <p class="btn btn-primary disabled">{{ data.hotel.average_rating }}</p>
                    Votes: <strong>{{ data.hotel.total_rating_votes }}</strong> | Reviews: <strong>{{ data.hotel.total_comments }}</strong>
                    <p class="card-text">{{ data.hotel.description|truncatechars:200 }}</p>
                    <small><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{data.hotel.city.province.country.name}}</a> - <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{data.hotel.city.province.name}}</a> - <a href="{% url 'cityListing' data.hotel.city.pk %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{data.hotel.city.name}}</a></small>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        List of favourites is empty
    {% endfor %}
</div>
{% endblock %}