{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div id="main-wrapper" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-4">
            <div class="card border-0 shadow">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="p-5">
                            <div class="mb-4">
                                <h3 class="h4 font-weight-bold text-primary">Login</h3>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="submit" class="btn btn-primary mt-1">Login</button>
                                    <a href="{% url 'reset_password' %}" class="text-primary text-center">Forgot password?</a>
                                </div>
                            </form>
                            <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="{% url 'register' %}" class="text-primary ml-1">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
